@media(820px <= width <= 1023px) {

header {
  box-shadow: #0000000d 0px 5px 10px 0px;
 }

#download-btn { 
  padding: 10px;
  margin-top: 20px;
  background: black;
  color: white;
  border-radius: 8px;
  border: none;
}


#download-btn span{ 
  padding: 5px;
  margin-top: 20px;
}

.topnav { 
  width: 100%;
  padding: 0;
  margin: 0;

}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav .icon {
  display: none;
}

.title-nav-item {
  margin-right: 30%;
  margin-left: 5%;
}

/* main-container-parent */
 .main-container-parent {
   display: flex;
   margin-top: 50px;
   width: 100%;
   margin: 32px auto;
  }

  #main-container {
    margin-left: 16px;
  }

  #main-container p {
  margin-top: 20px;
  margin-bottom: 20px;
}

  .parent-child {
  display: inline-block;
  padding: 1rem 1rem;
  width: 40%;
}
/* End-of-main-container-parent */


/* My-service */

#my-service-container {
  width: 90%;
  margin: 32px auto;
 }

 .header-row {
  display: flex;
  gap: 40px;
 }

 .header-child p{
  width: 75%;
 }

#my-service-container i {
  height: 12px;
  width: 13px;
  margin-left: 8px;
}

#my-service-container p {
  font-size: 14px;
  margin-top: 10px;
}


#get-started-btn {
  margin-top: 15px;
  color: white;
  border-radius: 3px;
  background: black;
  border: none;
  padding-left: 25px;
  padding-top: 13px;
  padding-right: 45px;
  padding-bottom: 13px;
  width: 180px;
  height: 55px;
}

#web-design-container {
  margin-top: 40px;
  background: black;
  width: 80%;
  color: white;
  padding-top: 28px;
  padding-bottom: 28px;
  border-radius: 5px;
}

#web-design-container-child {
  background-color: black;
  /* margin: 15px 18px; */
}

#web-design-container-child p {
  margin-right: 30px;
  margin-left: 30px;
}

#web-design-container-child button {
  padding: 0;
  margin: 0;
  color: white;
  background: transparent;
  border: none;
}
 
#web-design-container-child p {
  font-size: 14px;
}

 #icon-container-dark span {
  padding-left: 20px;
  font-size: 30px;
}

#icon-container-dark{
  padding-right: 150px;
}


#icon-container-dark h1 span{
   font-size: 20px;
}

.icon-container-light h1{
   font-size: 20px;
}

.icon-container-light h1 span{
   margin-left: 16px;
}

#web-design-btn p{
   margin-left: 8px;
   font-size: 12px;
}

.light-btn {
  padding: 16px;
  background: ghostwhite;
  border-radius: 8px;
  margin-top: 14px;
  margin-bottom: 14px;
  width: 74%;
}

.light-btn button i {
  height: 22px;
  width: 22px;
  margin-left: 20px;
}

.light-btn button {
  font-size: 18px;
  border: none;
  background: transparent;
}

#service-row {
  display: flex;
  width: 100%;
}

#my-service-container-2 {
  width: 90%;
}

#serivce-img {
 background-image: url('image/cake.png');
  padding-right: 330px;
  width: 10px;
  height: 380px;
  background-repeat: no-repeat;           
  margin-top: 40px;
  border-radius: 8px;
 }


/* end of service */

/* My work */
#my-work-container {
  width: 90%;
  background: #FAFAFA;
  margin: 10px 20px;

}

#text-column {
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 7px;
  margin-bottom: 40px;
}

#text-column p {
  margin-top: 10px;
  font-size: 14px;
}

#my-work-column {
  display: flex;
  flex-wrap: wrap;
  background: whitesmoke;
  margin: 32px auto;
  width: 90%;
}

#my-work-container h1{
  text-align: left;
}

#my-work-container p{
  width: 50%;
}

#my-work-column > div {
  flex: 28%;
}


.my-work-box h2 {
  font-size: 18px;
  margin-top: 22px;
  margin-left: 15px;
}
.my-work-box p {
  font-size: 12px;
  margin-top: 7px;
  margin-left: 15px;
}

.my-work-box img {
 width: 95%;
}

.my-work-box button {
  padding: 8px;
  font-size: 12px;
  margin-top: 14px;
  margin-left: 12px;
  border-radius: 3px;
  border: none;
  background: black;
  color: white;
}

/* end of my work */

/* Testimonials */

  #testimonials-container {
    margin-left: 50px;
    width: 90%;
  }

  .slider {
  width: 300px;
  height: 250px;
  margin: 20px auto;
  padding-bottom: 16px;
  border-radius: 8px;
  border: .25px solid lightgray;
  background: white;
}

.slider__image {
  width: 60px;
  height: 60px;
  margin-left: 22px;
  margin-top: 20px;
  border-radius: 50%;
}

 

.slider .rating-img {
  width: 60px;
  height: 60px;
  margin-left: 20px;
  border-radius: 50%;
}

.fa.fa-star{
  color: #FFAA23;
}

.star-rating {
  margin-left: 20px;
  margin-top: 14px;
}

.sub-title {
  font-size: 10px;
  color: lightgray;
}

.slider h2 {
  margin-left: 20px;
  margin-top: 10px;
}

.slider p {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
}
 

.slider__item-child {
  width: 95%;
}

.slider__info {
  margin-top: 20px;
  height: 30px;
}

.slider__info .rating-img {
  width: 99px;
  height: 50px;
}

.slider__content {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
  scrollbar-color: var(--scrollcolor) var(--scrollbackground);
}

.slider__nav {
  position: absolute;
  margin-bottom: 12%;
  margin-left: -30px;
}

.slider__nav i {
  color: white;
}

.slider__nav__button {
  height: 30px;
  width: 30px;
  padding: 5px;
  border-radius: 50%;
  float: right;
  background: black;
  border: none;
}

.slider__content::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 1rem;
  background: var(--scrollbackground);
}
.slider__content::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: var(--scrollcolor);
}
.slider__content::-webkit-scrollbar-track {
  border-radius: 1rem;
  background: var(--scrollbackground);
}
.slider__item {
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-width: 100%;
  width: 100%;
  border-radius: 0.25rem;
} 
/* End of Testimonials */

/* Contact Me */
#contact-me-child {
  display: flex;
  gap: 20px;
}

#contact-text {
  margin: 0;
  padding: 0;
  margin-top: 60px;

}

 #contact-me-img{
    margin: 16px;

 }

 .contact-details {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 5fr));
  width: 90%;
  margin-left: 6%;
  margin-bottom: 6%;
}

.contact-details-child {
  margin-top: 20px;
  width: 100%;
}

.contact-details-child h1{
  margin-top: 20px;
  font-size: 25px;
}
 

/* End of Contact Me */




}